<p>car works!</p>

<div class="card col-sm-2">
    <div class="card-header">
        <h3>Car</h3>
    </div>
    <div class="card-body">
        <h5> This is a car </h5>
        <div  class="p-3 m-0 border-0 bd-example">
            <div class="mb-3 row">
                <label class="col-sm-2"> label </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="value 1" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-6"> label </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="value 1" disabled>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2"> label </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="value 1" disabled>
                </div>
            </div>
        </div>
    </div>
</div>