<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Gestion des Assets 3D </span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="asset-manager/add-assets">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Ajouter un nouvel asset
          </a>
        </li>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span><i class="bi bi-controller" style="font-size: 2rem; color: cornflowerblue;"></i>Activities</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="activity-manager/pool-activity">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Pool 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activity-manager/dart-activity">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Dart 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activity-manager/uno-activity">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Uno 
          </a>
        </li>                        
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>F1 Race</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="f1-race/track">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Track 
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="f1-race/car">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Car
            </a>
          </li>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Saved Scenarios</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text" class="align-text-bottom"></span>
            List 
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Link
            </a>
          </li>        
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Scenario elements</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Create new Step or Action 
            </a>
          </li>        
      </ul>            
    </div>
  </nav>